body {
	color: #303030;
	margin: 0 auto;
	max-width: 50em;
	text-align: left;
	line-height: 1.4;
	font-size: 1em;
	font-family: Arial, sans-serif;
}

a {
	text-decoration: none;
	color: #0088ff;
	font-weight: bold;
	font-family: Arial, sans-serif;
	font-size: 0.9em;
}

h1 {
	text-align: center;
}

h2 {
	line-height: 0.5;
}

p {
	font-family: "Times New Roman", "Georgia", serif;
}

/* Nav bar */
header ul {
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin: 0;
	padding: 0;
	background-color: #555555;
}

header a {
	display: block;
	color: #efefef;
	text-align: center;
	padding: 0.75em 0;
}

header a:hover {
	background-color: #777777;
}

.navdivider {
	background-color: #0088ff;
	padding-bottom: 0.25em;
}

.active {
	background-color: #8f0007;
}

/* API card */
.api-card {
	border: ridge rgba(136, 136, 136, 0.2) 3px;
	border-radius: 20px;
	box-shadow: 0 0 3px 5px #CCCCCC;
	margin: 15px 0;
}

.api-card h3,h4,p {
	margin: 0 0 0.1em 0.75em;
}

.api-detail-list {
	margin-left: 0;
	position: relative;
	overflow: hidden;
	font-size: 0.75em;
}

.api-detail-list ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 0 0 -1px;
	padding: 0;
	list-style-type: none;
}

.api-detail-list li {
	flex-grow: 1;
	flex-basis: auto;
	text-align: center;
	border-left: 1px solid #CCCCCC;
}

.api-preview {
	max-width: 40%;
	margin: 0 0.5em 0 1em;
	box-shadow: 0 0 1px 2px #D9D9D9;
	display: inline-block;
	float: left;
}

.version-history {
	font-family: monospace;
	list-style-type: none;
	padding-left: 1em;
	padding-top: 0;
	margin-top: 0;
}

.version-history > li:before {
	content: '- ';
	text-indent: -1em;
}

/* Code block display */
code {
	background-color: #e5e5e5;
	font-size: 13px;
	padding: 2px 4px 1px;
}

pre.code {
	white-space: pre-wrap;
	display: inline-block;
	background-color: #e5e5e5;
	text-align: left;
	padding: 2px 4px 2px;
}

pre.code code {
	counter-increment: listing;
}

pre.code code::before {
	content: counter(listing) " ";
	display: inline-block;
	text-align: right;
	color: #B0B0B0;
}

.center {
	text-align: center;
}

/* Obligatory */
.titanic {
	float: none;
}