<h1>Update Checker API</h1>

<h2>About</h2>
<p>You can always update your API at any time, but others who use your API won't necessarily know
about it unless you directly go and tell them, and there's no way to know who's using your API at
any given time. You might have some critical bugs fixed in a new version, but those bugs are putting
your API out of use everywhere else!</p>

<p>To fix this problem, a "check for updates" API has been created to connect to this server and determine
whether an update to an arbitrary API is available or not. Just give it your current version number
  and some identifying information about the API and it'll tell you whether you're out of date or not.
  You can also request a list of changes made to the API since your version, or you can just fetch
  all available data on it that this server stores. All of this functionality is made available in
  code as a true Java API rather than a graphical program, so you'll have to incorporate it into your
  own programs in some way.</p>

<h2>Installation &amp; Documentation</h2>
<p>To use the API in your own code, add <code>[group: 'edu.wpi.cs3733.util', name: 'APIUpdateChecker',
  version:'1.0.0']</code> to your dependencies list. That's it! The API weighs in at only about 250 KB
and uses a single dependency (Gson, Google's JSON parsing library for Java) that's already been
compiled in.</p>

Detailed documentation can be found on the GitHub page
<a href="https://github.com/C7C8/SoftEng-API-UpdateChecker">here</a>. Included is a list of functions,
how to use them, the safeguard measures in place, and the comprehensively-documented code itself.


