<button mat-raised-button id="logout" (click)="logout()">Logout</button>

<h1>Manage APIs</h1>
<p>You can view, edit, or delete your APIs here. Markdown support is enabled, so you can enhance your API
  descriptions &amp; documentation with headers, links, lists, code samples, etc.</p>

<p *ngIf="userService.admin"><span class="admin-warning">Administrator mode enabled, all APIs modifiable.
  Be careful!</span> Since there may be dozens of API's, grouped view has been enabled.</p>

<div *ngIf="fetchService.apiData">

  <!--Regular view -- non-grouped -->
  <mat-accordion multi="true" *ngIf="fetchService.userApis && !userService.admin">
    <app-api-card *ngFor="let api of fetchService.userApis" [api]="api" [admin]="true" (deleted)="handleDelete($event)"></app-api-card>
  </mat-accordion>

  <!--Admin view -- grouped like the main list page for ease of navigation-->
  <mat-accordion multi="true" *ngIf="userService.admin">
    <mat-expansion-panel *ngFor="let class of fetchService.apiData.classes">
      <mat-expansion-panel-header>
        <mat-panel-title>{{class.term}} Term {{class.year}}</mat-panel-title>
        <mat-action-row>{{class.apis.length}} APIs</mat-action-row>
      </mat-expansion-panel-header>
      <mat-accordion multi="true">
        <app-api-card *ngFor="let api of class.apis" [api]="api" [admin]="true" (deleted)="handleDelete($event)"></app-api-card>
      </mat-accordion>
    </mat-expansion-panel>
  </mat-accordion>

  <i *ngIf="(fetchService.userApis.length === 0 && !userService.admin) || (userService.admin && fetchService.apiData.count === 0)">No APIs found; submit one below!</i>
  <br><br>
</div>

<mat-spinner *ngIf="!fetchService.apiData" [diameter]="50"></mat-spinner>

<h2>Submit New API</h2>
<p>Use the form below to add a base API entry. You'll need a name for it, the term &amp; and year
  it was made in, and the letter of the team that created it. Once the entry is created,
  you can add a description, image preview, and submit a usable version above!</p>
<p><b>Important: API names are case sensitive, and names can only be used once.</b>
  When you submit an API, we convert it into an artifact ID by removing the spaces, so something
  like "API Update Checker" becomes <code>APIUpdateChecker</code>. Furthermore, since we don't allow
  an API's files to ever be completely purged, <b>once you've used a name with a given term/year/team
    combo, you can never re-use it!</b></p>

<form #submitForm="ngForm" (submit)="submitAPI(submitForm)">
  <mat-card>
    <mat-form-field>
      <input matInput
             type="text"
             placeholder="API Name"
             name="name"
             [(ngModel)]="newAPIName"
             required>
    </mat-form-field>
    <mat-form-field>
      <input matInput
             type="text"
             placeholder="Contact Email"
             name="contact"
             [formControl]="emailFieldControl"
             [(ngModel)]="newAPIContact"
             required>
      <mat-error *ngIf="emailFieldControl.invalid && emailFieldControl.touched">Invalid email!</mat-error>
    </mat-form-field>
    <mat-form-field id="year-selector">
      <input matInput
             type="number"
             placeholder="Year"
             name="year"
             [(ngModel)]="newAPIYear"
             required>
    </mat-form-field>
    <mat-form-field id="term-selector">
      <mat-select type="string"
                  placeholder="Term"
                  name="term"
                  [(ngModel)]="newAPITerm"
                  required>
        <mat-option value="A">A</mat-option>
        <mat-option value="B">B</mat-option>
        <mat-option value="C">C</mat-option>
        <mat-option value="D">D</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field id="team-selector">
      <mat-select type="string"
                  placeholder="Team"
                  name="team"
                  [(ngModel)]="newAPITeam"
                  required>
        <mat-option *ngFor="let letter of letters" [value]="letter">{{letter}}</mat-option>
      </mat-select>
    </mat-form-field>

    <br>
    <button mat-raised-button color="primary" [disabled]="!submitForm.form.valid || !emailFieldControl.valid" type="submit">Create API</button>
  </mat-card>
</form>

<div class="userlist" *ngIf="userService.admin">
  <h2>User List</h2>
  <p><span class="admin-warning">Administrator mode enabled, user data is modifiable and deletion is permanent!</span>
    Be <i>extremely</i> careful!</p>

  <table mat-table matSort [dataSource]="userlist">
    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
      <td mat-cell *matCellDef="let user">
        <button mat-icon-button
                [matTooltip]="userService.username === user.username ? 'Use the button at the bottom of the page to delete yourself.' : 'Delete user ' + user.username"
                [disabled]="userService.username === user.username"
                (click)="adminDeleteUser(user)"
                color="primary">
          <fa-icon [icon]="faUserTimes"></fa-icon>
        </button>
        {{user.username}}</td>
    </ng-container>

    <ng-container matColumnDef="last_login">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last login</th>
      <td mat-cell *matCellDef="let user">{{user.last_login | date:'medium'}}</td>
    </ng-container>

    <ng-container matColumnDef="registered">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Registration Date</th>
      <td mat-cell *matCellDef="let user">{{user.registered| date:'medium'}}</td>
    </ng-container>

    <ng-container matColumnDef="admin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Admin?</th>
      <td mat-cell *matCellDef="let user">
        <mat-slide-toggle [checked]="user.admin"
                          (change)="changeAdmin($event, user)"
                          [disabled]="userService.username === user.username"
                          [matTooltip]="userService.username === user.username ? 'Not allowed to change your own admin status' : ''"
                          color="primary">
        </mat-slide-toggle>
      </td>
    </ng-container>

  </table>
  <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
</div>

<h2>Delete user account</h2>
<p>You can delete your user account by clicking the button below. When you delete your account, your APIs
  are also removed from display, but to avoid breaking others' code their files are not deleted.</p>
<div id="delete-account-wrapper">
  <button mat-raised-button color="warn" (click)="confirmDelete()">Delete Account</button>
</div>
