button {
  margin: 2em 1em;
}

#logout {
  margin-top: 0.5em;
  float: right;
}

#delete-account-wrapper {
  text-align: center;
}

h1 {
  clear: both;
}

form {
  text-align: center;
}

mat-card {
  display: inline-block;
  margin: 2em;
}

mat-spinner {
  margin: auto;
}

p {
  margin-bottom: 0.5em;
}

mat-form-field {
  margin: 0 0.5em;
}

#year-selector, #term-selector, #team-selector {
  max-width: 5em;
}

.admin-warning {
  font-weight: bolder;
  color: red;
}

mat-panel-title {
  font-weight: bold;
  margin: auto;
}
