<button mat-raised-button id="logout" (click)="logout()">Logout</button>

<h1>Manage APIs</h1>
<h2>Your APIs</h2>
<p>You can view, edit, or delete your APIs here. Markdown support is enabled, so you can enhance your API
  descriptions &amp; documentation with headers, links, lists, code samples, etc.</p>
<div *ngIf="fetchService.apiData">
  <div *ngIf="fetchService.userApis">
    <mat-accordion multi="true">
      <app-api-card *ngFor="let api of fetchService.userApis" [api]="api" [admin]="true"></app-api-card>
    </mat-accordion>
  </div>
  <i *ngIf="fetchService.userApis.length === 0">No APIs found; submit one below!</i>
  <br><br>
</div>
<div *ngIf="!fetchService.apiData">
  <mat-spinner [diameter]="50"></mat-spinner>
</div>


