<h1>About</h1>

<p>This website was created by crmyers for the Software Engineering course (CS3733) at Worcester Polytechnic Institute.
  This is the second version, built using Angular and a mess of backend stuff running on AWS. The original version of
  the site was created using simple static HTML and CSS, but that required manual updating every time someone wanted to
  upload a new API or add a new version to an existing one. This one uses Angular 6 on the front end, Apache to serve
  it, Flask for the API, and MariaDB for the database, and it's completely automated.</p>

<p>If for some reason you have a burning desire to know how this thing works, check out
  <a href="https://github.com/c7c8/SoftEng-API-Site">the source code on GitHub</a>
  (<a href="https://github.com/c7c8/SoftEng-API-Server">server side here</a>), and
  feel free to submit pull requests or bug reports! This site was created both for Software Engineering and for myself,
  as a self-education effort. The code may or may not be radioactive, so if you notice I've done something horribly wrong,
  send me a message!</p>

<p>For other inquiries, you can contact me at <a href="mailto:crmyers@wpi.edu">crmyers@wpi.edu</a></p>
