mat-panel-title {
  font-size: 0.9em;
  font-weight: bold;
  margin: auto;
}

mat-panel-description {
  font-size: 0.65em;
  display: flex;
  justify-content: flex-end;
}

.version-history {
  font-size: 10px;
  font-family: monospace;
  list-style-type: none;
  padding-left: 1em;
  padding-top: 0;
  margin-top: 0;
}

.version-history > li:before {
  content: '- ';
  text-indent: -1em;
}

img {
  max-width: 40%;
  margin: 0 0.5em 0 1em;
  display: inline-block;
  float: left;
}

h4 {
  margin-bottom: 0.1em;
  margin-top: 0.5em;
}

::ng-deep p {
  margin: 0;
}
