<div class="login-container">
  <mat-card>
    <form #loginForm="ngForm" (keydown)="loginGuard($event)">
      <h4>Login/Register</h4>
      <div class="text-input">
        <mat-form-field>
          <input matInput
                 type="text"
                 placeholder="Email"
                 name="username"
                 [formControl]="emailFieldControl"
                 [(ngModel)]="username"
                 required>
          <mat-error *ngIf="emailFieldControl.invalid && emailFieldControl.touched">Invalid email!</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput
                 type="password"
                 placeholder="Password"
                 name="password"
                 [formControl]="passwordFieldControl"
                 [(ngModel)]="password"
                 required>
          <mat-error *ngIf="passwordFieldControl.invalid && passwordFieldControl.touched">Password too long, can be at most 2048 characters</mat-error>
        </mat-form-field>
      </div>
    </form>
    <button mat-raised-button id="login" (click)="login()" color="primary" [disabled]="!loginForm.valid || !emailFieldControl.valid">Login</button>
    <button mat-raised-button id="register" (click)="register()" [disabled]="!loginForm.valid || !emailFieldControl.valid" >Register</button>
  </mat-card>
  <mat-spinner *ngIf="inProgress"></mat-spinner>
</div>
