.login-container {
  text-align: center;
}

mat-card {
  display: inline-block;
  padding: 1em;
  margin: 5em;
}

.text-input {
  display: flex;
  flex-direction: column;
}

h4 {
  margin-bottom: .25em;
  margin-top: 0;
}

button {
  margin: auto 0.5em 1em 0.5em;
}

mat-spinner {
  margin: 0 auto;
}
