<h1>API List</h1>
<p>Below you can find a list of all {{ apilist.count }} available APIs, sorted by term and team letter.
	Be kind to other teams, please use APIs from your term if you can!</p>

<div class="api-class" ng-repeat="class in apilist.classes">
	<div>
		<img src="img/arrow-down.png" class="select-chevron select-chevron-expand" ng-click="toggleClassView($event)">
		<h2>{{ class.term }}{{ class.year | limitTo : 2 : 2 }}</h2>
	</div>
	<div>
		<api-card ng-repeat="api in class.list | orderBy : 'team'" api="api"></api-card>
	</div>
</div>