/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  color: #303030;
  max-width: 50em;
  height: 100%;
  margin: 0 auto;
  text-align: left;
  line-height: 1.4;
  font-family: Arial, sans-serif;
  padding: 0 1em;
}

h1 {
  text-align: center;
}

h2 {
  line-height: 0.5;
}

h5,h6,h7 { /* I... guess h7 is a tag now? Whatever, just roll with it */
  font-size: 0.8em;
  font-family: Arial, sans-serif;
  margin: 0.65em auto 0.25em;
  line-height: 0.25;
}

h7 {
  font-style: italic;
}

p {
  font-family: "Times New Roman", "Georgia", serif;
  margin-bottom: 0.5em;
}

a {
  text-decoration: none;
  color: #0088ff;
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 0.9em;
}

/* Code block display */
code {
  background-color: #eeeeee;
  font-size: 13px;
  padding: 2px 4px 1px;
}

pre.code {
  white-space: pre-wrap;
  display: inline-block;
  background-color: #eeeeee;
  text-align: left;
  padding: 2px 4px 2px;
}

pre.code code {
  counter-increment: listing;
}

pre.code code::before {
  content: counter(listing) " ";
  display: inline-block;
  text-align: right;
  color: #B0B0B0;
}

.center {
  text-align: center;
}
