.login-container {
  text-align: center;
}

mat-card {
  display: inline-block;
  padding: 1em;
  margin: 5em;
}

.textinput {
  display: flex;
  flex-direction: column;
}

h4 {
  margin-bottom: .25em;
}

button {
  margin-right: .5em;
  margin-left: .5em;
  margin-bottom: 1em;
}
