<h1>API List</h1>
<div *ngIf="dataLoaded">
  <p>Below you can find a list of available APIs, sorted by term and team letter. Be kind to other teams, please use APIs
  from your term if you can! Currently storing {{apis.count}} APIs in {{apis.size}} MB, or {{apis.totalCount}}
  files / {{apis.totalSize}} MB across all versions.</p>

  <mat-card *ngFor="let class of apis.classes">
    <mat-card-title><button mat-icon-button><fa-icon [icon]="faAngleRight"></fa-icon></button> {{class.term}} Term {{class.year}}</mat-card-title>
    <mat-card-subtitle>{{class.list.length}} APIs</mat-card-subtitle>
    <app-api-card *ngFor="let api of class.list" [api]="api"></app-api-card>
  </mat-card>
</div>
