<h1>API List</h1>
<div *ngIf="fetchService.apiData">
  <p>Below you can find a list of available APIs, sorted by term and team letter. Be kind to other teams, please use APIs
  from your term if you can!</p>

  <p>Currently storing {{fetchService.apiData.count}} APIs in {{fetchService.apiData.size}} MB, or
    {{fetchService.apiData.totalCount}} files / {{fetchService.apiData.totalSize}} MB
   across all versions.</p>
  <mat-accordion multi="true">
    <mat-expansion-panel *ngFor="let class of fetchService.apiData.classes">
      <mat-expansion-panel-header>
        <mat-panel-title>{{class.term}} Term {{class.year}}</mat-panel-title>
        <mat-action-row>{{class.apis.length}} APIs</mat-action-row>
      </mat-expansion-panel-header>
      <mat-accordion multi="true">
        <app-api-card *ngFor="let api of class.apis" [api]="api"></app-api-card>
      </mat-accordion>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div *ngIf="!fetchService.apiData">
  <mat-spinner [diameter]="50"></mat-spinner>
</div>
